include ../icon/icon

mixin checkbox(id, name, title, checked, disabled)
  li.product-filter__checkbox
    label
      input(type="checkbox", name=name + id, checked= checked, disabled= disabled)
      span= title

mixin checkboxes(id)
  .product-filter__section
    .product-filter__title 
      +icon('arrow-down-red')
      span Производитель
    .product-filter__content
      ul
        +checkbox(id, 'brand-mkt', 'МКТ', true, false)
        +checkbox(id, 'brand-mungo', 'Mungo', false, false)
        +checkbox(id, 'brand-sormat', 'Sormat', false, true)
        +checkbox(id, 'brand-china', 'Китай (без бренда)', false, false)
        

mixin range()
  .product-filter__section
    .product-filter__title 
      +icon('arrow-down-red')
      span Общая длина анкера
    .product-filter__content
      .product-filter__range.range
        .range__inputs
          span от
          input.product-filter__min(class="range__length-min", type="text")
          span до
          input.product-filter__max(class="range__length-max", type="text")
          span мм
        .range__labels
          span 16
          span 256
          span 500
        .nouislider


mixin prodfilter(count)
  - var n = 0
  form.product-filter
    while (n < count)
      +checkboxes(++n)
      +range()
    