.dropdown-submenu {
  z-index: 10;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #e6e8ec;
  color: #0a0a0a;
  visibility: hidden;
}

.header {
  &__gray {
    background-color: #e6e8ec;
  }

  &__top {
    @include row-flex();
    align-items: center;
    justify-content: space-between;
  }

  &__search {
    padding: 15px 0;
    @include col();
    @include size(3);
    @include size-lg(4);
    @include size-md(12);
  }
  &__top-menu {
    padding: 15px 0;
    @include col();
    @include size(6);
    @include size-lg(8);
    @include size-md(12);
  }

  &__info {
    @include row-flex();
    align-items: center;

    & > * {
      @include col();
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__logo {
    margin-right: 65px;
  }

  &__contacts {
    @include size(6.2);
    @include size-xl(4);
    @include size-md(6);
    .contacts {
      @include xl(flex-wrap, wrap);

      &__item {
        @include xl(margin-bottom, 5px);
      }
    }
  }

  &__cart {
    margin-left: auto;
  }

  &__catalog {
    background-color: #e21e23;
    color: #ffffff;
    position: relative;

    .catalog {
      max-width: 1920px;
      margin: 0 auto;
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-between;

      @media (max-width: 900px) {
        flex-direction: column;
      }

      &__item {
        flex-grow: 1;
        border-left: 1px solid #ffffff;
        &:last-of-type {
          border-right: 1px solid #ffffff;
        }

        &:hover > .dropdown-submenu,
        &:focus-within > .dropdown-submenu {
          visibility: visible;
        }
      }

      &__link {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        padding: 30px 45px 24px;
      }
    }

    .icon {
      width: 15px;
      height: 15px;
      margin-left: 5px;
      flex-shrink: 0;
    }
  }

  &__banner {
    background-color: #bec0c4;
    background-image: url('../img/banner.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
