include ../icon/icon

mixin sliderItem(iconName, offerTitle, buttonTitle, link)
  .slider__item.splide__slide
    .slider__content
      .slider__icon
        +icon(iconName)
      .slider__title= offerTitle
    a.slider__button(href= link)= buttonTitle

.slider__wrapper
  #header-slider.slider.splide
    .splide__track
      .slider__container.splide__list
        +sliderItem('percent', 'Скидки и бонусы при оформлении заказа на сайте', 'Подробнее', '#')
        +sliderItem('percent', 'Бонусы! Бонусы! Бонусы!', 'Подробнее', '#')

