.slider {
  display: flex;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;

  .splide__arrow {
    color: #bec0c4;
    background: #ffffff;
    width: 50px;
    height: 50px;
    opacity: 1;

    &--prev {
      left: -120px;
      @include md(left, 0);
    }

    &--next {
      right: -120px;
      @include md(right, 0);
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__wrapper {
    margin: 0 130px;
    @include md(margin, 0);
  }

  &__container {
    flex-grow: 1;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 35px;
  }

  &__title {
    font-weight: bold;
    font-size: 25px;
    padding: 0 20px;
    text-align: left;
    @include sm(font-size, 20px);
    @include xs-block {
      font-size: 18px;
    }
  }

  &__button {
    background-color: #e21e23;
    color: #ffffff;
    border-radius: 20px;
    padding: 12px 36px 10px;
    font-weight: bold;
    font-size: 16px;
    margin-left: auto;

    &:visited {
      color: #ffffff;
    }
  }

  &__content {
    position: relative;
    padding-left: 30px;
    @include sm-block {
      margin-top: 10px;
      margin-bottom: 30px;
      padding-left: 15px;
    }
  }
  &__icon {
    position: absolute;
    left: 0px;
    top: 5px;
    width: 30px;
    height: 30px;
    @include sm-block {
      width: 20px;
      height: 20px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding-right: 120px;
    padding-left: 95px;

    @media (max-width: 1200px) {
      padding-right: 50px;
      padding-left: 50px;
    }

    @include sm-block {
      display: block;
      padding-bottom: 20px;
      text-align: center;
    }
  }
}
