extends ../layouts/main-layout
include ../helpers/mixins
include ../../blocks/components/breadcrumbs/breadcrumbs

block variables
  - const title = "НПП ОборонМетиз"

block content
  +breadcrumbs(['Главная', 'Варианты оплаты товара'])
  main.page
    .container
      .content
        h1.page-title Варианты оплаты товара
        .subtitle Варианты оплаты для юридических лиц
        ul.list
          li Безналичный расчет, путем перечисления денежных средств на расчетный счет указанный в счете на оплату;
          li Наличный расчет в офисе на сумму, не превышающую сумму лимита, установленного указаниями Центробанка РФ (предоставляются все отчетные документы);
          li Наличный расчет при заказе доставки, на месте отгрузки (только для Санкт-Петербурга и Ленинградской области);
          li Банковской картой в офисе или на складе;
          li Банковской картой онлайн (<a href="#">подробнее</a>).
        .subtitle Варианты оплаты для физических лиц
        ul.list
          li наличный расчет или оплата банковской картой в офисе или на складе;
          li наличный расчет при заказе доставки, на месте отгрузки (только для Санкт-Петербурга и Ленинградской области);
          li банковской картой онлайн (<a href="#">подробнее</a>);
          li банковской картой путем перевода на номер корпоративной карты; 
          li безналичный расчет путем перевода денежных средств с банковского счета (сумма и реквизиты для оплаты будут указаны в выставленном счете на наш расчетный счет;
          li безналичный расчет, путем перевода через операционную кассу банка (производится практически в любом отделении любого банка РФ).
        .subtitle Оплата юридическими лицами, нерезидентами РФ, находящимся в странах-участницах ЕврАзЭС (Таможенного союза)
        p Безналичный расчет, путем перечисления денежных средств указанных в счете на оплату и в договоре. До заключения договора на поставку, просьба дополнительно указывать об исключении НДС из договора.
        p.mt-40 По вопросам полной и частичной постоплатной системы расчета, кредитных и бартерных поставок для юридических лиц просьба писать на <a class="nounderline" href="mailto:sale@letfix.ru">sale@letfix.ru</a>

block scripts
  script(src="js/main.js?ver=0305")
  script(src="js/vendor.js?ver=0305")
