.submenu {
  @include row-flex();
  list-style: none;
  padding-top: 25px;
  padding-bottom: 25px;

  *:focus {
    outline: none;
  }

  &__item {
    @include col();
    @include size(2);
    @include size-xl(3);
    @include size-md(4);
    @include size-sm(6);
    @include size-xs(12);
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__list {
    list-style: none;
    padding-left: 10px;

    li::before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 1px;
      background-color: #0a0a0a;
      margin-right: 4px;
      position: relative;
      top: -4px;
    }

    a {
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;

      &:hover,
      &:focus,
      &:active {
        color: #e21e23;
        text-decoration: underline;
      }
    }
  }

  &__title {
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 5px;

    a {
      &:hover,
      &:focus,
      &:active {
        color: #e21e23;
        text-decoration: underline;
      }
    }

    &::before {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #e21e23;
      margin-right: 5px;
      position: relative;
      top: -1px;
    }
  }
}
