- const list1 = ['Анкерные болты', 'Анкерные гильзы', 'Забивные анкера', 'Клиновые анкера', 'Рамные анкера', 'Химические анкера', 'Фундаментные анкера']
- const list2 = ['Распорные', 'Фасадные', 'Дюбель-гвозди', 'Для теплоизоляции', 'Рамные', 'С крюками и кольцами', 'Для гипсокартона', 'Для листов и пластин']
- const list3 = ['Саморезы по дереву', 'Саморезы по металлу', 'Шурупы по бетону', 'Саморезы универсальные', 'Саморезы кровельные', 'Шурупы специального назначения']
- const list4 = ['Заклепки вытяжные', 'Заклепки резьбовые', 'Заклепки забивные (под молоток)', 'Инструмент для заклепок']
- const list5 = ['Строительные гвозди', 'Винтовые гвозди', 'Ершеные гвозди', 'Кровельные гвозди', 'Финишные гвозди', 'Скобы строительные']
- const list6 = ['Уголки перфорированные', 'Пластины перфорированные', 'Опоры и держатели', 'Для столбов', 'Монтажные профили перфорированные', 'Ленты перфорированные', 'Кронштейны']
- const list7 = ['Болты нержавеющие', 'Винты нержавеющие', 'Винты установочные нержавеющие', 'Гайки нержавеющие', 'Шайбы нержавеющие', 'Штифты нержавеющие', 'Шурупы и саморезы нержавеющие', 'Стопорные кольца нержавеющие']
- const list8 = ['Болты','Винты','Шпильки резьбовые','Установочные винты','Гайки','Шайбы','Кольца','Штифты','Шплинты']
- const list9 = ['Каталог DIN с иллюстрациями', 'Шурупы и саморезы', 'Болты', 'Винты', 'Шпильки', 'Гайки', 'Шайбы', 'Штифты', 'Заклепки', 'Такелажные изделия']
- const list10 = ['Каталог ГОСТ с иллюстрациями', 'Шурупы и саморезы', 'Болты', 'Винты', 'Шпильки', 'Гайки', 'Шайбы', 'Штифты', 'Заклепки', 'Такелажные изделия']
- const list11 = ['Каталог ISO с иллюстрациями', 'Шурупы и саморезы', 'Болты', 'Винты', 'Гайки', 'Шайбы', 'Штифты', 'Заклепки', 'Такелажные изделия']

- 
  const menu = [
    {title: 'Анкеры', list: list1},
    {title: 'Дюбели', list: list2},
    {title: 'Саморезы, шурупы', list: list3},
    {title: 'Заклепки', list: list4},
    {title: 'Гвозди', list: list5},
    {title: 'Перфорированный крепеж', list: list6},
    {title: 'Нержавеющий крепеж', list: list7},
    {title: 'Метрический крепеж', list: list8},
    {title: 'Крепеж DIN', list: list9},
    {title: 'Крепеж ГОСТ', list: list10},
    {title: 'Крепеж ISO', list: list11}

  ]

mixin submenu(title, list)
  li.submenu__item
    .submenu__title
      a(href="/catalog1.html")= title
    ul.submenu__list
      each item in list
        li
          a(href="/catalog2.html")= item

ul.submenu
  each item in menu
    +submenu(item.title, item.list)