mixin contactItem(type, href, label)
  li(class= 'contacts__item contacts__item_' + type)
    a(href= href, target='_blank')= label

ul.contacts
  +contactItem('phone', 'tel:+79999999999', '+7 (800) 999-99-99')
  +contactItem('phone', 'tel:+79999999999', '+7 (812) 999-99-99')
  +contactItem('email', 'href:sale@sale', 'sale@sale.ru')
