ul.header-cart
  li
    a.header-cart__contents(href="/cart.html") 
      span.header-cart__count 1 товар на сумму
      span.header-cart__total 2098,50 ₽
    a.header-cart__checkout(href="/checkout.html") Оформить заказ