extends layouts/default
include helpers/mixins

block variables
	- const title = "НПП ОборонМетиз"

block content
	main.content
		include ../blocks/modules/categories/categories
	
block scripts
	//- script(src="js/main.js")
	//- script(src="js/vendor.js")
