extends layouts/main-layout
include helpers/mixins

block variables
	- const title = "НПП ОборонМетиз"

block content
	main
		h1.screen-reader НПП ОборонМетиз
		include ../blocks/modules/categories/categories
	
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
