include ../icon/icon

form(class="search" action="#", method="get")
  .search__icon
    +icon('search')
  input#hs(type="search", placeholder="Поиск по сайту")
  label(class="screen-reader" for="hs") Поиск по сайту