.svg-icons(style="display: none")
  svg(version="1.1", xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
    symbol#search(viewBox="0 0 16 16")
      <path d="M14.7719 14.5735L11.0742 10.6129C12.0249 9.44901 12.5459 7.98455 12.5459 6.45999C12.5459 2.89801 9.73177 0 6.27293 0C2.81409 0 0 2.89801 0 6.45999C0 10.022 2.81409 12.92 6.27293 12.92C7.57143 12.92 8.80883 12.5167 9.86677 11.751L13.5926 15.7416C13.7484 15.9082 13.9578 16 14.1823 16C14.3947 16 14.5963 15.9166 14.7493 15.7649C15.0744 15.4428 15.0848 14.9085 14.7719 14.5735ZM6.27293 1.68522C8.82956 1.68522 10.9094 3.82713 10.9094 6.45999C10.9094 9.09286 8.82956 11.2348 6.27293 11.2348C3.7163 11.2348 1.63642 9.09286 1.63642 6.45999C1.63642 3.82713 3.7163 1.68522 6.27293 1.68522Z"/>
    symbol#arrow-down(viewBox="0 0 15 15")
      <line x1="1.41421" y1="7.36475" x2="7.07107" y2="13.0216" stroke="white" stroke-width="2" stroke-linecap="round"/>
      <line x1="13.1504" y1="7.19961" x2="7.19976" y2="13.1502" stroke="white" stroke-width="2" stroke-linecap="round"/>
    symbol#percent(viewBox="0 0 32 32")
      <path d="M7.53399 30.4834L7.53402 30.4834L27.5339 3.81692L27.534 3.81681C28.1684 2.97002 27.9973 1.76837 27.1501 1.13368C26.3032 0.498385 25.1025 0.669679 24.4671 1.51657L24.4671 1.5166L4.46723 28.1831C3.83181 29.03 4.00392 30.2315 4.85072 30.8661C5.69691 31.5017 6.89859 31.3303 7.53399 30.4834Z" fill="#E21E23" stroke="#E21E23" stroke-width="0.5"/>
      <path d="M7.66663 14.584C11.4871 14.584 14.5833 11.487 14.5833 7.66736C14.5833 3.84769 11.4871 0.750732 7.66663 0.750732C3.84694 0.750732 0.75 3.84767 0.75 7.66736C0.75 11.487 3.84694 14.584 7.66663 14.584ZM7.66663 4.58404C9.37014 4.58404 10.7499 5.96458 10.7499 7.66736C10.7499 9.37014 9.37014 10.7507 7.66663 10.7507C5.96389 10.7507 4.58331 9.3701 4.58331 7.66736C4.58331 5.96462 5.96389 4.58404 7.66663 4.58404Z" fill="#E21E23" stroke="#E21E23" stroke-width="0.5"/>
      <path d="M17.417 24.3331C17.417 28.1528 20.5139 31.2498 24.3336 31.2498C28.1541 31.2498 31.2502 28.1528 31.2502 24.3331C31.2502 20.5135 28.1541 17.4165 24.3336 17.4165C20.5139 17.4165 17.417 20.5134 17.417 24.3331ZM27.4169 24.3331C27.4169 26.0359 26.0371 27.4165 24.3336 27.4165C22.6309 27.4165 21.2503 26.0359 21.2503 24.3331C21.2503 22.6304 22.6309 21.2498 24.3336 21.2498C26.0371 21.2498 27.4169 22.6304 27.4169 24.3331Z" fill="#E21E23" stroke="#E21E23" stroke-width="0.5"/>
    symbol#arrow-down-red(viewBox="0 0 12 13")
      <line x1="1.41421" y1="6.66162" x2="5.4357" y2="10.6831" stroke="#E21E23" stroke-width="2" stroke-linecap="round"/>
      <line x1="10.4475" y1="6.5231" x2="5.86172" y2="11.1089" stroke="#E21E23" stroke-width="2" stroke-linecap="round"/>
    symbol#i-tomorrow(viewBox="0 0 15 15")
      <path d="M7.5 0C3.3645 0 0 3.36455 0 7.50005C0 11.6355 3.3645 15 7.5 15C11.6355 15 15 11.6355 15 7.50005C15 3.36455 11.6355 0 7.5 0ZM7.5 13.6364C4.11636 13.6364 1.36364 10.8836 1.36364 7.50005C1.36364 4.11646 4.11636 1.36364 7.5 1.36364C10.8836 1.36364 13.6364 4.11646 13.6364 7.50005C13.6364 10.8836 10.8836 13.6364 7.5 13.6364Z" fill="#FF9635"/>
      <path d="M7.49973 3.18164C6.99855 3.18164 6.59082 3.58964 6.59082 4.09114C6.59082 4.59219 6.99855 4.99982 7.49973 4.99982C8.00091 4.99982 8.40864 4.59219 8.40864 4.09114C8.40864 3.58964 8.00091 3.18164 7.49973 3.18164Z" fill="#FF9635"/>
      <path d="M7.49993 6.36377C7.12339 6.36377 6.81812 6.66904 6.81812 7.04559V11.1365C6.81812 11.513 7.12339 11.8183 7.49993 11.8183C7.87648 11.8183 8.18175 11.513 8.18175 11.1365V7.04559C8.18175 6.66904 7.87648 6.36377 7.49993 6.36377Z" fill="#FF9635"/>
