include ../../components/icon/icon

mixin product()
  li.footer-product.products__item
    .footer-product__image
      img(src="img/dubel.jpg", alt="Дюбель 4х20 нейлон, Expandet")
    .footer-product__info
      .footer-product__title 
        a(href="/product.html") Дюбель 4х20 нейлон, Expandet
      ul.footer-product__features
        li.footer-product__feature Артикул: 102000150
        li.footer-product__feature Упаковка: 100 шт.
        li.footer-product__feature.footer-product__feature_tomorrow
          +icon('i-tomorrow')
          span Получить завтра
      form.footer-product__order(action="#")
        .footer-product__count
          input(id="id" type="number", name="count", value="1")
          label(for="id" class="screen-reader") Количество 
        .footer-product__order-button
          div 83,60 ₽
          input(type="submit", value="Купить")

mixin afterContentSection(title)
  section.aftercontent
    .container
      .title= title     
      ul.products
        +product()
        +product()
        +product()