.aftercontent {
  border-top: 1px solid #e6e8ec;

  .title {
    @include title(400);
    margin-bottom: 15px;
    margin-top: 50px;
  }

  .products {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 105px;

    @include row-flex();

    &__item {
      margin-top: 30px;
      @include col-padding();
      @include size(4);
      @include size-xl(5);
      @include size-lg(8);
      @include size-md(10);
      @include size-sm(12);
      @include sm-block {
        width: 100%;
      }
    }
  }
}

.footer-product {
  @include row-flex();
  &__image {
    @include col();
    @include size(6);
    @include size-xs(12);
    @include sm-block {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #e6e8ec;
  }

  &__info {
    @include col();
    @include size(6);
    @include size-sm(12);
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: normal;
    font-size: 17px;
    margin-bottom: 20px;

    a:hover,
    a:focus,
    a:active {
      color: #e21e23;
    }
  }

  &__features {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 15px;
    color: #888888;
  }

  &__feature {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
    &_tomorrow {
      svg {
        display: inline-block;
        width: 15px;
        height: 15px;
        position: relative;
        top: 2px;
        margin-right: 7px;
      }
      color: #ff9635;
    }
  }

  &__order {
    display: flex;
    align-items: flex-end;
    margin-top: auto;
    justify-content: space-between;
  }

  &__count {
    input {
      width: 104px;
      text-align: right;
      border-radius: 3px;
      border: 1px solid #e6e8ec;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      padding: 2.5px 0px;
    }
  }

  &__order-button {
    font-weight: bold;
    font-size: 20px;
    color: #e21e23;

    div {
      margin-bottom: 10px;
      text-align: right;
    }

    a {
      color: #ffffff;
      background-color: #e21e23;
      border-radius: 15px;
      font-weight: bold;
      font-size: 15px;
      border: none;
      padding: 4px 28px;
    }
  }
}
