.seen-before-products {
  border-top: 1px solid #e6e8ec;

  .products {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 120px;

    @include row-flex();

    &__item {
      @include col();
      @include size(4);
    }
  }

  .title {
    margin-bottom: 30px;
    margin-top: 50px;
  }
}

.seen-before {
  display: flex;
  flex-wrap: wrap;
  &__image {
    flex-basis: 230px;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #e6e8ec;
  }

  &__info {
    flex: 0 0 245px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: normal;
    font-size: 17px;
    margin-bottom: 20px;
  }

  &__features {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 15px;
    color: #bec0c4;
  }

  &__feature {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
    &_tomorrow {
      svg {
        display: inline-block;
        width: 15px;
        height: 15px;
        position: relative;
        top: -1px;
        margin-right: 7px;
      }
      color: #ff9635;
    }
  }

  &__order {
    display: flex;
    align-items: flex-end;
    margin-top: auto;
    justify-content: space-between;
  }

  &__count {
    input {
      width: 104px;
      text-align: right;
      border-radius: 3px;
      border: 1px solid #e6e8ec;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      padding: 2.5px 0px;
    }
  }

  &__order-button {
    font-weight: bold;
    font-size: 20px;
    color: #e21e23;

    div {
      margin-bottom: 10px;
      text-align: right;
    }

    input[type='submit'] {
      color: #ffffff;
      background-color: #e21e23;
      border-radius: 15px;
      font-weight: bold;
      font-size: 15px;
      border: none;
      padding: 4px 28px;
    }
  }
}
