article.product
  header.products-header
    h1.products-title Анкерный болт с гайкой М5/6х40
  .product__information
    .product__gallery
      .product__image
        .splide#slider-big
          
          .splide__track
            ul.splide__list
              li.splide__slide
                .splide__zoom-in-button
                  a(href="img/product1.jpg" data-fancybox="gallery")
                    +icon('zoom-in')
                img(src="img/product1.jpg", alt="product1")
              li.splide__slide
                .splide__zoom-in-button
                  a(href="img/product2.jpg" data-fancybox="gallery")
                    +icon('zoom-in')
                img(src="img/product2.jpg", alt="product2")
              li.splide__slide
                .splide__zoom-in-button
                  a(href="img/product1.jpg" data-fancybox="gallery")
                    +icon('zoom-in')
                img(src="img/product1.jpg", alt="product1")
              li.splide__slide
                .splide__zoom-in-button
                  a(href="img/product2.jpg" data-fancybox="gallery")
                    +icon('zoom-in')
                img(src="img/product2.jpg", alt="product2")
      .product__thumbnails
        .splide#slider-thumbs
          .splide__track
            ul.splide__list
              li.splide__slide
                img(src="img/thumb1.jpg", alt="product1")
              li.splide__slide
                img(src="img/thumb2.jpg", alt="product2")
              li.splide__slide
                img(src="img/thumb3.jpg", alt="product1")
              li.splide__slide
                img(src="img/thumb1.jpg", alt="product2")
    .product__features
      .product__features-item 
        .product__features-title Артикул: 101000027
      .product__features-section.product__features-section_opened
        .product__features-title.inline-icon
          span Основные размеры
          +icon('arrow-down-red')
        ul.product__features-content.dashlist
          li.dashlist__item
            span.dashlist__key Размер резьбы 
            span.dashlist__value М5
          li.dashlist__item
            span.dashlist__key Длина анкера (гильзы)
            span.dashlist__value 40 мм
          li.dashlist__item
            span.dashlist__key Толщина прикрепляемого материала
            span.dashlist__value 8 мм
      .product__features-section
        .product__features-title.inline-icon
          span Параметры установки
          +icon('arrow-down-red')
        .product__features-content Пусто
      .product__features-section
        .product__features-title.inline-icon
          span Эксплуатационные характеристики
          +icon('arrow-down-red')
        .product__features-content Пусто
      .product__features-section
        .product__features-title.inline-icon
          span Общая информация
          +icon('arrow-down-red')
        .product__features-content Пусто
      .product__features-item
        span.product__features-title Упаковка: 
        span.product__features-value 200 шт.
      .product__features-item.tomorrow
        +icon('i-tomorrow')
        span Получить завтра
      .product__order
        form.order-form(action="#")
          .order-form__count
            input(type="number", name="count", value="1")
          .order-form__order-button
            div 708,00 ₽
            input(type="submit", value="Купить")
  .product__description
    p Анкерный болт с гайкой М5/6х40 — крепежный элемент, применяемый для монтажа элементов конструкций и оборудования к основаниям из полнотелых материалов. Предельно допустимая нагрузка на вырывание — (для бетона B25) 8 кН. Используется в материалах: полнотелый кирпич, природный камень, бетон. Анкер болт с гайкой М5/6х40 позволяет крепить конструкции толщиной до 8 миллиметров. Для монтажа в основание отверстие должно быть диаметром 6.
    p Анкерный болт с гайкой М5/6х40 представляет собой цилиндрическую гильзу состоящую из трех элементов, на одном конце которой находится конусный элемент с шпилькой. При закручивании гайки, конусная часть анкера расширяет элементы гильзы, позволяя ей крепиться в основании.
  .product__sizes
      .product__features-title Другие размеры:
      ul
        li
          a(href="#") М5/6х75
        li
          a(href="#") М6/8х40
        li
          a(href="#") М6/8х65
        li
          a(href="#") М6/8х70
        li
          a(href="#") М6/8х85 
        li
          a(href="#") М6/8х100
        li
          a(href="#") М6/8х120 
        li
          a(href="#") М8/10х50 
        li
          a(href="#") М8/10х60 
        li
          a(href="#") М8/10х77 
        li
          a(href="#") М8/10х100 
        li
          a(href="#") М8/10х125
        li
          a(href="#") М8/10х130 
        li
          a(href="#") М8/10х150 
        li
          a(href="#") М8/10х180 
        li
          a(href="#") М8/10х200 
        li
          a(href="#") М8/10х250 
        li
          a(href="#") М10/12х60
        li
          a(href="#") М10/12х75 
        li
          a(href="#") М10/12х100 
        li
          a(href="#") М10/12х130 
        li
          a(href="#") М10/12х180 
        li
          a(href="#") М10/12х200 
        li
          a(href="#") М12/16х65
        li
          a(href="#") М12/16х75 
        li
          a(href="#") М12/16х110 
        li
          a(href="#") М12/16х150 
        li
          a(href="#") М12/16х180 
        li
          a(href="#") М12/16х220 
        li
          a(href="#") М12/16х250
        li
          a(href="#") М12/16х300 
        li
          a(href="#") М14/20х500 
        li
          a(href="#") М16/20х75 
        li
          a(href="#") М16/20х110 
        li
          a(href="#") М16/20х150 
        li
          a(href="#") М16/20х200
        li
          a(href="#") М16/20х300 
        li
          a(href="#") М16/20х350