include ../../components/product-card/product-card

ul.categories.product-list
  +product-card('img/super-4.jpg')
  +product-card('img/super-1.jpg')
  +product-card('img/super-6.jpg')
  +product-card('img/super-2.jpg')
  +product-card('img/super-5.jpg')
  +product-card('img/super-4.jpg')
  +product-card('img/super-1.jpg')
  +product-card('img/super-4.jpg')
  +product-card('img/super-7.jpg')
  +product-card('img/super-4.jpg')
  +product-card('img/super-5.jpg')
  +product-card('img/super-4.jpg')
  +product-card('img/super-7.jpg')
  +product-card('img/super-4.jpg')
  +product-card('img/super-1.jpg')
  +product-card('img/super-6.jpg')
  +product-card('img/super-2.jpg')
  +product-card('img/super-5.jpg')
  +product-card('img/super-4.jpg')
  +product-card('img/super-1.jpg')
  +product-card('img/super-4.jpg')
  +product-card('img/super-7.jpg')
  +product-card('img/super-4.jpg')
  +product-card('img/super-5.jpg')
  +product-card('img/super-4.jpg')
  +product-card('img/super-7.jpg')
  +product-card('img/super-2.jpg')