include ../icon/icon

mixin subcategory(title, img, list, more, needlist)
  li.subcategory.showMoreList
    .subcategory__header
      .subcategory__image
        .subcategory__image-container
          img(src= img, alt= title)
      .subcategory__title
        a(href="/catalog2.html")= title
    if needlist
      ul.subcategory__list
        each item, index in list
          li(class= index > 3 & list.length > 5 ? 'subcategory__item hidden' : 'subcategory__item')
            a.subcategory__link(href="/catalog2.html")= item
      if list.length > 5
        .subcategory__show-more.showMore
          a.subcategory__link.showMoreLink(href="#") Показать ещё
            +icon('arrow-down-red')
