block variables

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title #{title}
		meta(name="description" content= title)
		meta(name="theme-color" content="#fff")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="styles/main.css?ver=8")
		if fancybox
			link(rel="stylesheet" href="styles/jquery.fancybox.css")
	body
		include ../../blocks/modules/icons/icons
		include ../../blocks/modules/header/header
		
		block content

		block aftercontent

		include ../../blocks/modules/footer/footer
		
		block scripts
