include ../../components/category/category

- const list1 = ['Анкеры', 'Дюбели', 'Саморезы', 'Заклепки', 'Гвозди', 'Метрический крепеж', 'Метрический крепеж', 'Метрический крепеж']
- const list2 = ['Такелаж общего назначения', 'Грузоподъемный такелаж', 'Канаты, тросы, веревки', 'Цепи', 'Стропы', 'Нержавеющий такелаж']
- const list3 = ['Стяжные ремни', 'Захваты', 'Лебедки ручные', 'Лебедки электрические', 'Тали ручные', 'Тали электрические', 'Домкраты']
- const list4 = ['Ручной инструмент', 'Режущие расходные материалы', 'Электроинструмент', 'Оснастка и насадки', 'Средства защиты', 'Хозинвентарь', 'Химия и аксессуары']

section.product-categories
  .container
    ul.categories
      +category('Крепеж', 'img/skrews.jpg', list1, true)
      +category('Такелаж', 'img/takelazh.jpg', list2, false)
      +category('Грузоподъемное оборудование', 'img/gpm.jpg', list3, false)
      +category('Инструмент', 'img/tools.jpg', list4, false)
  